/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// Large desktops
$screen-xl-min: 1200px;


// Colors
$white: #fff;
$black: #000;
$cultured: #f7f9ee;
$dark-electric-blue: #4e7276;
$japanese-indigo: #1e4648;
$sacramento-state-green: #0a2f32;
$rite-of-passage: #ffeca8;
$pale-goldenrod: #dee7b0;





