/* =============
    About
============= */

.about{
    .about-image{
        .container{
            .content{
                img{
                    width: 100%;
                    display: block;
                }
            }
        }
    }



    .about-info{
        color: $japanese-indigo;
        .container{
            .content{
                @include md{
                    padding: 50px;
                }
                

                h3{
                    font-size: 24px;
                    font-weight: 700;
                    color: $japanese-indigo; 
                    text-align: center;
                    padding: 20px;
                }

                ul{
                    font-size: 16px;
                    font-weight: 300;
                    color: $japanese-indigo;
            }
                }
            }
        }
    }
