/* =============
   Local Businesses
============= */


.businesses{
    .container{
        .content{
            h4{
                text-align: center;
                color: $japanese-indigo;
            }

            p{
                font-size: 16px;
                font-weight: 300;
                padding: 20px;
                color: $japanese-indigo;
            }

            ul{
                
                list-style: none;
                padding-inline-start: 125px;


                @include md{
                    display: grid;
                    grid-template-columns: auto auto;
                }

                @include lg{
                    display: grid;
                    grid-template-columns: auto auto auto;
                }

                @include xl{
                    display: grid;
                    grid-template-columns: auto auto auto;
                }
                
            }
        }
    }
}