/* =============
    Directory
============= */

.directory{
    background-color: $cultured;
    
    .container{
        .content{
        
        }
    }
        

    .directory-title{
        .container{
            .content{
                h2{
                    font-weight: 400;
                    font-size: 24px;
                    color: $japanese-indigo;
                    text-align: center;
                    padding: 20px;
                

            }
        }
    }
}

.directory-grid{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

        @include lg{
            display: grid;
            grid-template-columns: auto auto auto auto;
        }
    


    .cafe{
        .container{
            
            .content{
                background-image: url("/deploy/img/homepage/button/cafe.png");
                background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 70px;
                    margin-bottom: 20px;

                button{
                    background-color: $rite-of-passage;
                    width: 50px;
                    height: 30px;
                    
            }
        }
    }
}

    .our-story{
        .container{
            
            .content{
                background-image: url("/deploy/img/homepage/button/ourstory.png");
                background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 70px;
                    margin-bottom: 20px;
                    
                    
                button{
                    background-color: $rite-of-passage;
                }
            }
        }
    }

    .resources{
        .container{
            
            .content{
                background-image: url("/deploy/img/homepage/button/resources.png");
                background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 70px;
                    margin-bottom: 20px;
                button{
                    background-color: $rite-of-passage;
                    
                }

            }
        }
    }

    .contact{
        .container{
            
            .content{
                background-image: url("/deploy/img/homepage/button/contact.png");
                background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 70px;
                    margin-bottom: 20px;

                button{
                    background-color: $rite-of-passage;
                    
                }
            }
        }
    }



}


}
