.gallery{
    background-color: $cultured;
    .container{
        img{
            width: 100%;
            display: block;
            display: flex;
            
        }
        .content{
            
            display: grid;
            grid-template-rows: 50% 50%;
            object-fit: cover;

            @include xl{
                display: grid;
                grid-template-columns: 33% 33% auto;
                grid-template-areas:
                "image image image"
                ;
            }

            
            ul{
                list-style: none;
                padding-inline-start: 0;
                display: flex;
            }

            li{
                img{
                    width: 100%;
                    
                }

                &.img-1{
                    width: 100%;
                    @include xl{
                        grid-area: image;
                    }
                } 
                &.img-2{
                    width: 100%;
                    @include xl{
                        grid-area: image;
                    }
                } 
                

                &.img-3{
                    width: 100%;
                    display: none;
                    @include xl{
                        display: block;
                        grid-area: image;
                    }
            }
        }
    }
}
}