.gallery{
    background-color: $cultured;
    .container{
        img{
            width: 100%;
            display: block;
            
        }
        .content{
            
            display: grid;
            grid-template-rows: 50% 50%;
            object-fit: cover;

            
            ul{
                list-style: none;
                padding-inline-start: 0;
                display: flex;
            }

            li{
                img{
                    width: 100%;
                    
                }

                &.img-1{
                    width: 100%;
                } 
                &.img-2{
                    width: 100%;
                } 
            }
        }
    }
}