/* =============
    Hero Content
============= */

.hero-content{
    text-align: center;

    .container{
        display: flex;
        .content{
            padding-top: 20px;
            padding-left: 50px;
            padding-right: 50px;
            line-height: 1.8;
            margin-bottom: 30px;

            

            h2{
                font-size: 18px;
                font-weight: 400;
                color: $japanese-indigo;
            }
                
            h1{
                font-size: 36px;
                font-weight: 600;
                color: $japanese-indigo;
            }

            p{
                font-size: 16px;
                font-weight: 300;
                padding-left: 60px;
                padding-right: 60px;
                text-align: justify;
                color: $japanese-indigo;

                @include md{
                    padding-left: 200px;
                    padding-right: 200px;
                }

                @include lg{
                    font-size: 18px;
        
                }
                 
            }

        }
    }
    
}