/* =============
    Newsletter
============= */
.newsletter{
    background-image: url("/deploy/img/icons/leaves.jpg");
    background-size: cover;
    padding: 20px;

    .container{

        .content{

      
        }
    }


}


   .newsletter-info{
        background-color: opacify($color: white, $amount: .3%);
            .container{

                 .content{
                    display: inline;
                    padding: 20px;
                    grid-template-rows: auto auto auto;

                        form{
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap-reverse;
                            
                        }

                        h4{
                            color: $japanese-indigo;
                            padding-bottom: 10px;
                        }

                        input{
                            display: flex;
                            border-color: $japanese-indigo;
                        }
                        
                        button{
                            background-color: $rite-of-passage;
                            width: 100px;
                            height: 50px;
                    
                
                            
                        }
                    }
                }
            }
      