.ourstory-gallery{
    
    .container{
        img{
            width: 100%;
            display: block;
            display: flex;
            
        }
        .content{
            
            display: grid;
            grid-template-rows: 50% 50%;
            grid-template-areas: 
            "img-1 img-2";
            object-fit: cover;

            @include md{
                display: grid;
                grid-template-columns: 50% 30% auto;
                grid-template-rows: auto 30% 50% ;
                grid-template-areas: 
                "img-5 img-1 img-2"
                "img-4 img-6 img-3";
            }

            @include lg{
                display: grid;
                grid-template-columns: 50% 30% auto;
                grid-template-rows: auto 30% 50% ;
            }
            


            
            ul{
                list-style: none;
                padding-inline-start: 0;
                display: inline;
            }

            li{
                
                &.img-1{
                    width: 100%;
                    @include xl{
                        grid-area: image;
                    }
                } 
                &.img-2{
                    width: 100%;
                    @include xl{
                        grid-area: image;
                    }
                } 
                
                &.img-3{
                    width: 100%;
                    display: none;
                    @include md{
                        display: block;
                        grid-area: image;
                    }
                    @include lg{
                        display: block;
                        grid-area: image;
                    }
                    @include xl{
                        display: block;
                        grid-area: image;
                    }


                    &.img-4{
                        width: 100%;
                        display: none;

                        @include md{
                            display: block;
                            grid-area: image;
                        }
                        @include lg{
                            display: block;
                            grid-area: image;
                        }
                        @include xl{
                            display: block;
                            grid-area: image;
                        }
            }
        }
    }
}
    }
}