/* =============
    Our Mission
============= */


.our-mission{
    background-color: $cultured;
    padding-top: 30px;
    padding: 50px;
    
    
    .container{

        .content{

            h4{
                text-align: center;
                color: $japanese-indigo;
            }

            p{
                font-size: 16px;
                font-weight: 300;
                padding: 20px;
                text-align: justify;
                color: $japanese-indigo;
            }

           
            

        }
    }
}