/* =============
    Why We're Different
============= */


.why-were-different{
    padding-top: 30px;
    display: flex;
    
    
    .container{

        .content{

            .img-2{
                @include md{
                    display: none;
                }

                @include lg{
                    display: none;
                }

                @include xl{
                    display: none;
                }

                .img-3{
                    @include md{
                        display: none;
                    }
    
                    @include lg{
                        display: none;
                    }
    
                    @include xl{
                        display: none;
                    }
            }
            
            h2{
                text-align: center;
                color: $japanese-indigo;
                padding-bottom: 20px;
            }

            h3{
                text-align: center;
                color: $japanese-indigo;
                padding-bottom: 20px;
            }

            p{
                font-size: 16px;
                font-weight: 300;
                color: $japanese-indigo;
                padding-bottom: 10px;
               
            }


            img{
                display: flex;
            }

            .content-grid{
                padding-bottom: 20px;
                display: grid;
                grid-template-columns: auto auto;
                grid-template-areas: 
                "image text"
                "text image";

                @include md{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-areas: 
                    "text image";
                }

                @include lg{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-areas: 
                    "text image";
                }

                @include xl{
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-template-areas: 
                    "text image";
                }


                p{
                    font-size: 16px;
                    font-weight: 300;
                    color: $japanese-indigo;
                    padding-right: 20px;
                    line-height: 25px;
                    
                }
            }
            
        }
        }
    }
}