/* =============
    Footer
============= */


.footer{

    background-color: $dark-electric-blue;
    .container{

    
    .content{
        display:grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
        "socials copyright";
       
        
        p{
            color: $white;
            font-size: 8px;
            
        }

        }
        .copyright{
    
            padding-top: 20px;
        
        }
        

        .socials{
            ul{
                display: flex;
                list-style-type: none;
                padding: 0;
            }
        }
    }
}
