/* =============
    Header
============= */

.header{
    background-color: $dark-electric-blue;
    

    .background{
        img{
            opacity: .3;
        }

        .container{
  
    
            .content{

        }
    }   
}
   
.masthead{ 

    .container{
  
    
    .content{
        display:grid;
        grid-template-columns: 100%;
        align-content: center;

        .logo{
            width: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
    }

    }
    }
}