/* =============
    Header
============= */

.header{
    background-color: $dark-electric-blue;
    background-image: url(deploy/img/header.png);

    .hero-image{
        img{
            opacity: .3;
        }

        .container{
  
    
            .content{
                

        }
    }   
}
   
.masthead{ 

    .container{
  
        align-content: center;
    .content{
        display:grid;
        grid-template-columns: 100%;
        align-content: center;

        .logo{
            width: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;

            @include lg{
                width: 65px;
            }
        }
    }

    }
    }
}